# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*.swp
*.bak
*.tmp

# Distributions / packaging
.Python
build/
dist/
wheels/
*.egg-info/
*.eggs
lib64/
lib/
venv/
env/

# IDEs and editors
.idea/  # pycharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Documentation
docs/_build/

# Jupyter Notebook files
.ipynb_checkpoints

# OS-specific files
.DS_Store # macOS
Thumbs.db # Windows
